<!-- prettier-ignore -->
{% extends "../base.html" %}

{% import "../macros.html" as macros %}

{% block title %}Projects :: Liam Fenneman{% endblock %}

{% block content %}
<div class="flex flex-col gap-8">
  {% if list.len() == 0 %}
  <p class="text-center">No projects found.</p>
  {% else %} {% for project in list %}
  <div class="flex flex-col gap-2">
    <div class="flex gap-4 items-center">
      <a
        href="{{ project.metadata.slug }}"
        class="text-2xl font-bold hover:underline"
        >{{ project.frontmatter.name }}</a
      >
      <ul class="flex flex-row justify-start gap-4" aria-label="External links">
        <!-- prettier-ignore -->
        {%- match project.frontmatter.links -%}
        {%- when Some with (links) -%}
          {%- for link in links.0 -%}
            {%- call macros::print_link(link) -%}
          {%- endfor -%}
        {%- when None -%}
        {%- endmatch -%}
      </ul>
    </div>
    <div class="flex gap-4 text-sm">
      <p aria-label="Date created">{{ project.frontmatter.created_at }}</p>
      {%- match project.frontmatter.updated_at -%} {%- when Some with
      (updated_at) -%}
      <p aria-label="Date updated">(updated: {{ updated_at }})</p>
      {%- when None -%} {%- endmatch -%}
    </div>
    <p aria-label="Short project description">
      {{ project.frontmatter.description }}
    </p>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
